<div class="container u-max-width--l">
    <section class="section section--{{section.key}}">
        <h2>{{section.title}}</h2>
    </section>

    <section class="section">
        <h3>Flavours</h3>

        <p>Buttons come in 3 flavours, <code>button-primary</code>, <code>button-secondary</code>, and <code>button-white</code>. For inverted versions add <code>--inverted</code> to the end of the class name, e.g. <code>button-primary--inverted</code>.</p>

        <div class="u-padding-all--s">
            <p><a class="button-primary" href="#">Primary Button</a></p>
            <pre class="u-margin-btm--none"><code class="language-css">button-primary</code></pre>
        </div>

        <div class="u-padding-all--s">
            <p><a class="button-secondary" href="#">Secondary Button</a></p>
            <pre class="u-margin-btm--none"><code class="language-css">button-secondary</code></pre>
        </div>

        <div class="u-padding-all--s u-margin-btm--s u-bg-color--medium-grey">
            <p><a class="button-white" href="#">White Button</a></p>
            <pre class="u-margin-btm--none"><code class="language-css">button-white</code></pre>
        </div>

        <div class="u-padding-all--s u-bg-color--medium-grey">
            <p><a class="button-white--inverted" href="#">White Button (Inverted)</a></p>
            <pre class="u-margin-btm--none"><code class="language-css">button-white--inverted</code></pre>
        </div>

        <div class="u-padding-all--s">
            <p><input class="button" type="submit" value="Disabled Button" disabled /></p>
        </div>
    </section>

    <section class="section">
        <h3>Sizes</h3>

        <p>Four buttons sizes are available by adding an extra size modifier, <code>button--l</code>, default (no class required), <code>button--s</code> and <code>button--xs</code>. <strong>Note:</strong> You can use a size modifier with any of the button styles above.</p>

        <div class="o-grid o-grid--has-gutter">
            <div class="o-grid__cell o-unit-1of1 o-unit-1of4--m">
                <p><a class="button-primary button--l" href="#">Large Button</a></p>
            </div>
            <div class="o-grid__cell o-unit-1of1 o-unit-1of4--m">
                <p><a class="button-primary" href="#">Default Button</a></p>
            </div>
            <div class="o-grid__cell o-unit-1of1 o-unit-1of4--m">
                <p><a class="button-primary button--s" href="#">Small Button</a></p>
            </div>
            <div class="o-grid__cell o-unit-1of1 o-unit-1of4--m">
                <p><a class="button-primary button--xs" href="#">Extra Small Button</a></p>
            </div>
        </div>
    </section>

    <section class="section">
        <h3>Minimum or Maximum Width</h3>

        <p>For visual consistency you can also set a minimum or maximum width on buttons using <code>button--set-min-width</code> or <code>button--set-max-width</code>.</p>

        <p><a class="button-primary button--set-min-width" href="#">Button</a></p>
        <pre><code class="language-css">button--set-min-width</code></pre>

        <p><a class="button-primary button--set-max-width" href="#">Button</a></p>
        <pre><code class="language-css">button--set-max-width</code></pre>
    </section>
</div>
