<div class="container u-max-width--l">
    <section class="section section--{{section.key}}">
        <h2>{{section.title}}</h2>
    </section>

    <section class="section">
        <div class="c-widget ">
            <div class="o-grid o-grid--has-gutter c-cards c-cards--two">
                <div class="o-grid__cell o-unit-1of1 o-unit-1of2--m c-cards--two__o-unit-1of2--m c-card">
                    <div class="c-card__body u-bg-color--white u-color--white c-card__body--has-image" style="justify-content:center;" data-ratio-min='{"*":"1by1"}'>
                        <div class="c-card__image c-card__image--background" style="background-image: url('/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg');"
                        ></div>
                        <div class="c-card__content" style="text-align: center; ">
                            <div class="c-card__text">
                                <h2>Card Heading</h2>
                                <p>Lorem ipsum dolor sit amet, penatibus<br>
                                    libero nulla ut sem, sapien metus leo.</p>
                            </div>
                            <div class="c-card__button-wrapper">
                                <a href="#" class="button-white--inverted c-card__link--button">Shop Collection</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="o-grid__cell o-unit-1of1 o-unit-1of2--m c-cards--two__o-unit-1of2--m c-card">
                    <div class="c-card__body u-bg-color--white u-color--white c-card__body--has-image" style="justify-content:center;" data-ratio-min='{"*":"1by1"}'>
                        <div class="c-card__image c-card__image--background"
                             style="background-image: url('/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg');"
                        ></div>
                        <div class="c-card__content" style="text-align: center; ">
                            <div class="c-card__text">
                                <h3 class="is-decorated--light">Card Heading</h3>
                                <h5 class="u-font-weight--normal">Card Subheading</h5>
                            </div>
                            <a href="#" class="c-card__link--overlay"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-widget ">
            <div class="o-grid o-grid--has-gutter c-cards c-cards--four">
                <div class="o-grid__cell o-unit-1of1 o-unit-1of2--s o-unit-1of4--m c-card">
                    <div class="c-card__body c-card__body--has-text c-card__body--has-content c-card__body--has-image c-card__body--has-url c-card__body--display-always c-cards--four__c-card__body u-bg-color--white u-color--white" style="justify-content:center;" data-ratio-min='{"*":"1by1"}'>
                        <div class="c-card__image c-card__image--background" style="background-image: url('/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg');"
                        ></div>
                        <div class="c-card__content c-cards--four__content c-cards--four__content--over" style="text-align: center; ">
                            <div class="c-card__text c-cards--four__text">
                                <h4>Card Heading</h4>
                            </div>
                        </div>
                        <a href="#" class="c-card__link--overlay c-cards--four__link"></a>
                    </div>
                </div>
                <div class="o-grid__cell o-unit-1of1 o-unit-1of2--s o-unit-1of4--m c-card">
                    <div class="c-card__body c-card__body--has-text c-card__body--has-content c-card__body--has-image c-card__body--has-url c-card__body--display-always c-cards--four__c-card__body u-bg-color--white u-color--white" style="justify-content:center;" data-ratio-min='{"*":"1by1"}'>
                        <div class="c-card__image c-card__image--background" style="background-image: url('/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg');"
                        ></div>
                        <div class="c-card__content c-cards--four__content c-cards--four__content--over" style="text-align: center; ">
                            <div class="c-card__text c-cards--four__text">
                                <h4>Card Heading</h4>
                            </div>
                        </div>
                        <a href="#" class="c-card__link--overlay c-cards--four__link"></a>
                    </div>
                </div>
                <div class="o-grid__cell o-unit-1of1 o-unit-1of2--s o-unit-1of4--m c-card">
                    <div class="c-card__body c-card__body--has-text c-card__body--has-content c-card__body--has-image c-card__body--has-url c-card__body--display-always c-cards--four__c-card__body u-bg-color--white u-color--white" style="justify-content:center;" data-ratio-min='{"*":"1by1"}'>
                        <div class="c-card__image c-card__image--background" style="background-image: url('/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg');"
                        ></div>
                        <div class="c-card__content c-cards--four__content c-cards--four__content--over" style="text-align: center; ">
                            <div class="c-card__text c-cards--four__text">
                                <h4>Card Heading</h4>
                            </div>
                        </div>
                        <a href="#" class="c-card__link--overlay c-cards--four__link"></a>
                    </div>
                </div>
                <div class="o-grid__cell o-unit-1of1 o-unit-1of2--s o-unit-1of4--m c-card">
                    <div class="c-card__body c-card__body--has-text c-card__body--has-content c-card__body--has-image c-card__body--has-url c-card__body--display-always c-cards--four__c-card__body u-bg-color--white u-color--white" style="justify-content:center;" data-ratio-min='{"*":"1by1"}'>
                        <div class="c-card__image c-card__image--background" style="background-image: url('/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg');"
                        ></div>
                        <div class="c-card__content c-cards--four__content c-cards--four__content--over" style="text-align: center; ">
                            <div class="c-card__text c-cards--four__text">
                                <h4>Card Heading</h4>
                            </div>
                        </div>
                        <a href="#" class="c-card__link--overlay c-cards--four__link"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
