<div class="container u-max-width--l">
    <section class="section section--{{section.key}}">
        <h2>{{section.title}}</h2>
    </section>

    <section class="section">
        <div class="c-widget js-slideshow slideshow " data-slick='{"autoplay": false, "autoplaySpeed": 5000, "arrows": false, "dots": true}'>
            <div class="slideshow__slide">
                <a href="#" class="slideshow__link">                                                    <img src="/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg" alt="Slideshow Image 1">
                </a>
            </div>
            <div class="slideshow__slide">
                <a href="#" class="slideshow__link">                                                    <img src="/static/frontend/{{namespace}}/Default/en_GB/images/patternlib/patternlib_01.jpg" alt="Slideshow Image 2">
                </a>
            </div>
        </div>
    </section>
</div>
